{% extends "base.html" %}
{% block title %} Payouts Calculator {% endblock %}
{% block content %}
<form method="POST" enctype=multipart/form-data>
    <div class="content">
        <h1>Load CSV with Shopify Data for Payouts</h1>
        <h5>Load only exported by single month!</h5>
    <div class="form-group">

      <div class="mb-3">
        <label class="form-label" for="file">Sales CSV</label>
        <input class="form-control" required type="file" id="file" name="file">
      </div>

        <div class="mb-3">
        <label class="form-label" for="file_payments">Payments By Type CSV</label>
        <input class="form-control" required type="file" id="file_payments" name="file_payments">
      </div>
        <div class="mb-3">
            <label for="ad-expenses">Ad Expenses Sickrate & SIIK(€)</label>
            <input class="form-control form-control-sm" step="0.01" required type="number" id="ad-expenses" name="ad-expenses" placeholder="150"/>
        </div>
        <div class="mb-3">
            <label for="ad-expenses-doxed">Ad Expenses Doxed(€)</label>
            <input class="form-control form-control-sm" step="0.01" required type="number" id="ad-expenses-doxed" name="ad-expenses-doxed" placeholder="150"/>
        </div>
        <div class="mb-3">
        <label for="store-expenses">Other Expenses(€)</label>
        <input class="form-control form-control-sm" required step="0.01" type="number" id="store-expenses" name="store-expenses" placeholder="150"/>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </div>

</form>
{% endblock %}